@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.300") transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: theme("colors.slate.300");
  border-radius: 9999px;
}
